.cor1{
    height: 150px;
    background-color: rgb(233, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 1%;
}

.cor2{
    height: 150px;
    background-color: rgb(111, 111, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
     margin: 1%;
}

.cor3{
    height: 150px;
    background-color: rgb(34, 141, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
     margin: 1%;
}

.cor4{
    height: 150px;
    background-color: rgb(167, 167, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
     margin: 1%;
}

.cor5{
    height: 150px;
    background-color: rgb(184, 38, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
     margin: 1%;
}

.cor6{
    height: 150px;
    background-color: rgb(228, 117, 135);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 1%;
}
