#cor1{
    background-color: rgb(233, 27, 27);
    text-align: center
    

};

#cor2{
    background-color: rgb(42, 42, 231)
    
};

#cor3{
    background-color: rgb(34, 141, 34)
    
};

#cor4{
    background-color: rgb(167, 167, 9)
    
};

#cor5{
    background-color: purple
    
};

#cor6{
    background-color: rgb(228, 117, 135);
    
}